/* Custom Button Styles */

.custom-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid black; /* Green border */
    background-color: black; /* Green background */
    color: white; /* White text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
.custom-button:hover {
    background-color: #45a049; /* Darker green */
    border-color: #45a049; /* Darker green */
}
  
  /* Active effect */
.custom-button:active {
    background-color: #3e8e41; /* Even darker green */
    border-color: #3e8e41; /* Even darker green */
}
  .section-img{
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Maintain aspect ratio */
    /* margin-top: 20px;  */
    position: relative;
    /* border-radius: 75px; */
    /* border: 5px solid rgb(179, 168, 168); */
    /* box-shadow: 0 8px 16px black; */
  }
  .secp{
    text-align: justify;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  .col-md-6{
    margin-left: 0px;
  }
  .head{
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
.sec1{
  background:linear-gradient(0deg, black,rgba(27, 27, 27, 0.753)), url(../images/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 40px;
}

@media screen  and (max-width: 375px){
  .section-img{
    width: 100%; 
    height: 50%; 
    position: relative;
    
  }
  .secp{
    text-align: justify;
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
}

@media screen  and (min-width: 376px)and (max-width: 982px) {
  .sec1{
    background:linear-gradient(0deg, black,rgba(27, 27, 27, 0.753)), url(../images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 40px;
  }

  

}


  