/* Custom Button Styles */
.first {
  background: linear-gradient(to right, #439fed, #bbf2bd);
  margin-bottom: -23px;
  height: 623px;
}
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid black; /* Green border */
    background-color: black; /* Green background */
    color: white; /* White text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  /* Hover effect */
  .custom-button:hover {
    background-color: #45a049; /* Darker green */
    border-color: #45a049; /* Darker green */
  }
  
  /* Active effect */
  .custom-button:active {
    background-color: #3e8e41; /* Even darker green */
    border-color: #3e8e41; /* Even darker green */
  }
  .section-img{
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
    margin-top: 20px; 
    margin-left: 100px;
    position: relative;
    border-radius: 75px;
    border: 5px solid rgb(179, 168, 168);
    box-shadow: 0 8px 16px black;
  }
  .section-paragraph{
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .col-md-6{
    margin-left: 0px;
  }
  .head{
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .row{
    margin-top: 132px;
}
  .card{
    width: 10rem;
    height: 145px;
    border-radius: 35px;
    background: rgba(245, 196, 60, 0.781);
    
  }
  /* section1.css */

/* Centering the SVG horizontally */
.card svg {
  display: block;
  margin: 0 auto;
}


  

  