.dropdown1{
  position: relative;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */

}

.pageC{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  height:auto;
}

.dropdown1 button {
  width: 700px; /* Adjust button width as needed */
  margin-top: 40px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  box-shadow: 0 20px 10px rgba(119, 119, 119, 0.2);
}

.dropdown-menuB {
  position: absolute;
  top: 100%;
  left: 50%; /* Position menu relative to parent */
  transform: translateX(-50%); /* Center the menu horizontally */
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  min-width: 10rem;
  z-index: 1000;
  width: 700px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-menuB li {
    display: flex; /* Use flexbox for better layout control */
    align-items: center; /* Center items vertically */
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }


.dropdown-menuB li:hover {
  background-color: #f2f0f0;
}

.dropdown-menuB p {
  margin: 0;
  white-space: normal; /* Allow text to wrap to the next line */
  word-wrap: break-word; /* Break long words if necessary */
  flex: 1; /* Allow the <p> tag to grow to fill remaining space */
}

.dropdown-menuB img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .dropdown1 button {
    height: 60px; /* Increase button height */
  }
}

@media screen and (max-width: 480px) {
  .dropdown1 button {
    height: 70px; /* Further increase button height for smaller screens */
  }

  .dropdown-menuB {
    width: 90%;
    left: 5%;
    max-height: 70vh; /* Set max height relative to viewport height */
    overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
  }

  .dropdown-menuB li {
    padding: 0.5rem; /* Adjust padding */
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .dropdown1 button {
    height: auto; /* Make button height auto to accommodate text */
    padding: 10px; /* Add padding to button for better spacing */
  }
  
  .dropdown-menuB {
    width: auto; /* Allow dropdown width to adjust based on content */
    max-width: 100%; /* Limit dropdown width to full width of the viewport */
    left: 0; /* Align dropdown to the left edge */
    transform: none; /* Remove horizontal translation */
  }

  .dropdown-menuB li {
    width: 90%; /* Adjust width of list items */
    margin: 0 auto; /* Center list items */
  }
}