.chatHomePage{
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chaty {
  width: 450px;
  height:500px;
}
.chatbotpage {
    display: flex;
    height: 70vh; /* Set container height to cover the entire viewport */
    width: 800px;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; 
  }
  
  .image-chatbot {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-chatbot img {
    width: 100%; /* Set image width to fill the container */
    height: 100%; /* Set image height to fill the container */
    object-fit: contain; /* Maintain aspect ratio */
    
  }
  .chatbotInside {
    flex: 1;
    padding: 20px;
  }
  
  .image-chatbot img {
    width: 480px;
    height: 600px;
  }