.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between videos as needed */
}

.video-container {
  flex: 1;
  max-width: 50%; /* Each video container takes half of the row width */
  margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

@media (max-width: 768px) {
  .video-container {
    max-width: 100%; /* Each video container takes full row width on smaller screens */
  }
}
