.former form{
  /* width: 20px; */
  /* max-width: 500px; */
  margin: 0 auto;
  margin-right:50px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top:10px;
}

.popuper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(78, 190, 78);
  color: black;
  font-weight: bolder;
  padding: 20px;
  border-radius: 5px;
}

.hello label {
  display: block;
  margin-bottom: 5px;
}
label{
  font-weight: bold;

}
input[type="texte"],
input[type="emaile"],
textarea {
  width: 600px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}


.boxer {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  /* height:auto;  */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.former{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-mainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin-bottom: 40px; 
}

.image-main-containerer {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-main-containerer img {
  /* width: 50%; 
  height: 50%;  */
  object-fit: contain; /* Maintain aspect ratio */
}
.form-main-containerer {
  flex: 1;
  padding: 20px;
}

@media only screen and (max-width: 375px) {
  input[type="texte"],
input[type="emaile"],
textarea {
  width: 100px;
  
}
.image-main-containerer {
  /* flex: 1; */
  margin-left: -100px;
  max-width: 10%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.form-main-containerer {
  flex: 1;
  padding: 20px;
  margin-right: 100px;
}
}