/* Add these styles to your existing CSS file, courses.css */

.course-container {
  text-align: center;
  background-color: azure;
  min-height: 490px; /* Using min-height for better responsiveness */
  padding: 20px; /* Add padding for better spacing */
}

.column-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.column {
  flex: 1; /* Use flex: 1 to allow columns to grow equally */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 250px; /* Adjust max-width as needed */
  background-color: rgb(198, 200, 231);
  border-radius: 10%;
  box-shadow: 0 20px 10px rgba(23, 23, 23, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.column h4 {
  color: green;
}

.column img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 30%;
  width: 160px;
}

.custom-button3 {
  border-radius: 25px;
  border: 1px solid rgb(62, 62, 222);
  background-color: rgb(62, 62, 222);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 10px; /* Adjust margin for better spacing */
  width: 120px;
}

.custom-button3:hover {
  background-color: grey;
}

@media only screen and (max-width: 768px) {
  .column-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Media Query for smaller screens */
@media only screen and (max-width: 480px) {
  .course-container {
    min-height: auto; /* Remove fixed height for better responsiveness */
  }

  .column {
    max-width: 90%;
    margin-bottom: 20px;
  }
}
