*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.course-container {
    text-align: center;
    background-color: azure;
    height: 490px;
  }
  
  .column-container {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 250px; /* Adjust max-width as needed */
    height: 370px;
    background-color: rgb(198, 200, 231);
    border-radius: 10%;
    transition: border-color 0.3s, box-shadow 0.3s; 
    box-shadow: 0 20px 10px rgba(23, 23, 23, 0.2);
  }

  .column h4{
    color: green;
  }
  
  .column img {
    max-width: 100%; /* Ensure images don't exceed the column width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 30%;
    width: 160px;
  }

  .custom-button {
      /* padding: 10px 50px; */
      border-radius: 25px;
      border: 1px solid black; /* Green border */
      background-color: black; /* Green background */
      color: white; /* White text color */
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      margin-right: 35px;
  }
  
  .custom-button:hover {
    background-color: grey; /* Darker blue button background color on hover */
  }

  @media only screen and (max-width: 768px) {
    .column-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Media Query for mobile devices */
  @media only screen and (max-width: 480px) {
    .column {
      max-width: 90%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  