*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);; */
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 560px;
}

.heading-container {
  margin-bottom: 0 ;/* Adjust as needed */
  margin-top: 40px;
}

.explore-heading {
  margin: 0; /* Remove default margin */
}

.container {
  width: 100vw; /* Adjust as needed */
  height: 400px; /* Set the desired height */
  overflow-x: auto;
  /* background-color: rgb(241, 229, 150); */
  border: 2px solid #ccc; /* Add border */
  border-radius: 8px; /* Add border radius */
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  /* #fff6d0a2 */
  transition: border-color 0.3s, box-shadow 0.3s; 
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
h5{
  text-align: center;
}

.container:hover {
  overflow-x: auto; /* Show horizontal scrollbar on hover */
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.3);
}

  .item {
      width: 1px; /* Adjust width as needed */
      height: 300px; /* Adjust height as needed */
      margin: 10px; /* Add margin between items */
      flex: 0 0 50%; /* Half of container width */
      padding: 30px;
      /* margin-top: 10px; */
      border: 1px solid black;
      border-radius: 20px;
      transition: border-color 0.3s, box-shadow 0.3s; 
      box-shadow: 0 5px 10px rgb(189, 189, 186);
      background-image: linear-gradient(135deg, #e2e2df 0%, #fbf6dede 100%);
    }

    .item h5{
      margin-top: 20px;
    }

  .item img{
      border-radius: 10%;
      transition: border-color 0.3s, box-shadow 0.3s; 
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      width: 200px; /* Adjust width as needed */
      height: 170px;
      margin-left: 130px;
      /* width: 100%;
      height: auto; */
  }

.scrollable {
  display: flex;
  border-radius: 20%;
}



.item p {
  margin-top: 10px;
}

.small-rectangle-box {
  
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute; 
  top: 87%; /* Adjust top position as needed */
  right: 50px; /* Adjust left position as needed */
  transform: translateY(-50%); /* Center vertically */
}

.btn-chatbot{
  border-radius: 25px;
  background-color: black;
  height: 65px;
  margin-top: 200px;
  width: 100px;
  transition: border-color 0.1s, box-shadow 0.1s; 
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
} 
.btn-chatbot a{
  text-decoration: none;
color: white;
}

.small-rectangle-box2 p{
  font-size: 15px;
  text-decoration: none;
  color: white
}

.small-rectangle-box2 svg{
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

/* Media Query for tablets */
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
  }
}

/* Media Query for mobile devices */
@media only screen and (max-width: 480px) {
  .item {
    width: 90%;
  }
}