* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 40px 0;
}

.heading-container {
  margin-bottom: 20px;
}

.explore-heading {
  margin: 0;
}

.container-explore {
  width: 90%;
  max-width: 53.8vw; /* Adjust as needed */
  overflow-x: auto;
  white-space: nowrap;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); /* Adjust shadow */
  margin-top: 30px;
  padding: 10px; /* Adjust padding */
}

h5 {
  text-align: center;
}

.container-explore:hover {
  overflow-x: auto;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3); /* Adjust shadow */
}

.item {
  width: 40%; /* Adjust as needed */
  margin: 5px; /* Adjust margin */
  flex: 0 0 calc(40% - 10px); /* Adjust based on width and margin */
  padding: 10px; /* Adjust padding */
  border: 1px solid black;
  border-radius: 10px; /* Adjust border radius */
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Adjust shadow */
  background-image: linear-gradient(135deg, #e2e2df 0%, #fbf6dede 100%);
  display: inline-block;
}

.item h5 {
  margin-top: 5px; /* Adjust margin */
  text-align: center;
}

.item img {
  border-radius: 8px; /* Adjust border radius */
  width: 100%;
  height: auto;
}

.item p {
  margin-top: 5px; /* Adjust margin */
}

.small-rectangle-box {
  position: fixed;
  top: 90%; /* Adjust position */
  right: 20px; /* Adjust position */
  transform: translateY(-50%);
  z-index: 999; /* Ensure it's on top of other content */
  padding: 15px; /* Adjust padding */
}

.btn-chatbot {
  border-radius: 30px;
  background-color: black;
  height: 70px; /* Adjust height */
  width: 90px; /* Adjust width */
  transition: border-color 0.1s, box-shadow 0.1s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-chatbot a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Adjust padding */
}

.small-rectangle-box2 p {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.small-rectangle-box2 svg {
  margin-right: 5px; /* Adjust margin */
  text-decoration: none;
  color: white;
}

/* Media Query for tablets */
@media only screen and (max-width: 768px) {
  .item {
    width: 40%; /* Adjust as needed */
    flex: 0 0 calc(80% - 10px); /* Adjust based on width and margin */
  }
}

/* Media Query for mobile devices */
@media only screen and (max-width: 480px) {
  .item {
    width: 30%; /* Adjust as needed */
    flex: 0 0 calc(90% - 10px); /* Adjust based on width and margin */
  }
}
