.assessment-section1 {
  text-align: center;
  padding: 25px;
  max-width: 100%; /* Set max width for the section */
  margin: 0 auto;
  background-color: rgb(231, 242, 252);
  height: auto; /* Change height to auto for responsiveness */
}

.assessment-images1 {
  display: flex;
  justify-content: center; /* Center images horizontally */
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.assessment-item1 {
  width: 250px;
  text-align: center;
}

.assessment-item1 img {
  max-width: 100%; /* Adjust image width to fit container */
  height: auto;
}

.assessment-content1 {
  width: 100%; /* Adjust width to fit container */
  max-width: 160px; /* Set a max-width for content */
  height: 170px;
  background-color: #dfe9f3;
  margin-left: auto; /* Center content horizontally */
  margin-right: auto;
  border-radius: 20%;
  transition: background-color 0.3s ease;
}

.assessment-content1:hover {
  background-color: rgba(255, 255, 255, 0.218);
}

.assessment-item1 p {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.custom-button1 {
  padding: 10px 50px;
  border-radius: 25px;
  border: 1px solid rgb(62, 62, 222);
  background-color: rgb(62, 62, 222);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 26px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button1:hover {
  background-color: grey;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .assessment-images1 {
    justify-content: space-around; /* Adjust alignment for smaller screens */
  }

  .assessment-item1 {
    width: 45%; /* Adjust item width for better fit on smaller screens */
    margin-bottom: 20px; /* Add space between items */
  }
}

/* Media Query for even smaller screens */
@media only screen and (max-width: 480px) {
  .assessment-item1 {
    width: 100%; /* Make items full width on smaller screens */
  }
}
