.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.user-image{
    position: relative;
    left: 202px;
}
.user-dash-hor {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  background-color: rgb(241, 233, 233);
  align-items: center;
  width: 100%;
}
.user info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 34px;
    border-radius: 20px;
    background-color: #dcd8e4;
    row-gap: 10px;
    padding: 39px;
}
.user-info h2{
  position: relative;
    bottom: 20px;
    left: 112px;
    font-family: ui-sans-serif;
    font-weight: 800;

}
.back-dashb button{
  
  margin-top: 10px;
  margin-bottom: 10px;
    border-radius: 25px;
    width: 100px;
    background: rgb(41, 41, 241);
}
.profile-pic-dash {
  width: 221px;
  height: 217px;
}
.info-dash {
  background-color: white;
  font-size: 20px;
  font-family: ui-sans-serif;
  font-weight: 1000;
  text-align: center;
  padding: 3px;
}
.user-info p{
  font-size: 26px;
    font-family: cursive;
}
.profile-info {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.main-dash-info {
  background-color: white;
  padding: 19px;
  width: 22%;
  margin-top: 16px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 559px;
}
.progress-bars {
  margin-top: 20px;
}

.progress-bar {
  margin-bottom: 10px;
}

.progress-bar p {
  margin-bottom: 5px;
}

.current-course {
  text-align: center;
  margin-top: 20px;
}



.table-main-result22 {
  width: 80%;
  position: relative;
  left: 145px;
  top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.table-header5022 {
  border: 1px solid black;
  color: #cecece;
  font-size: 1.1em;
  text-align: center;
  background: #212121;
  padding: 18px 0;
}

.table-body5022 {
  border: 1px solid black;
  font-size: 1.1em;
  text-align: center;
  
  background: white;
  padding: 18px 0;
}

.table-header5022 > tr > td{
  border: 1px solid black;
   
}

@media screen and (max-width: 375px){
  .table-header5022 {
    border: 1px solid black;
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}
.table-main-result22 {
  width: 80%;
  position: relative;
  left: 37px;
  top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.table-row5022{
  color: #f6f4f4;
  background: black;
}   
.table-main-result22 {
  width: 80%;
  position: relative;
  left: 37px;
  top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.main-dash-info {
  background-color:white;
      padding: 19px;
    width: 65%;
    margin-top: -15px;
    margin-bottom: 22px;
    top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 65px;
}
.info-dash {
  background-color: white;
    width: 221px;
    font-size: 20px;
    font-family: ui-sans-serif;
    font-weight: 1000;
    text-align: center;
    padding: 3px;
}
}

@media screen and (min-width: 376px) and  (max-width: 982px){
  .table-header5022 {
    border: 1px solid black;
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}
.table-main-result22 {
  width: 80%;
  position: relative;
  left: 37px;
  top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.table-row5022{
  color: #f6f4f4;
  background: black;
}   
.table-main-result22 {
  width: 80%;
  position: relative;
  left: 37px;
  top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.main-dash-info {
  background-color:white;
      padding: 19px;
    width: 65%;
    margin-top: -15px;
    margin-bottom: 22px;
    top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 65px;
}
.info-dash {
  background-color: white;
    width: 200px;
    font-size: 20px;
    font-family: ui-sans-serif;
    font-weight: 1000;
    text-align: center;
    padding: 3px;
}
}


 
  
