/* CSS for PageWithCards */
.page12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.feedback,
.child-report {
  background-color: #ccffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 400px; /* Keep the width constant */
  text-align: center; /* Center text content */
}

.feedback h2,
.child-report h2 {
  margin-bottom: 20px; /* Add space below headings */
}

.repoimg,
.feedimg {
  display: block;
  margin: 0 auto; /* Center the images */
  width: 80%; /* Adjust image width */
  height: auto;
}

.custom-buttonw {
  display: block;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px auto; /* Center the buttons */
  padding: 10px 20px; /* Add padding to the button */
}

.custom-buttonw a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .feedback,
  .child-report {
    width: calc(100% - 40px); /* Full width with margin accounted for on smaller screens */
  }
  @media screen and (max-width: 375px) {
    .page12 {
      padding: 10px; /* Decrease padding for smaller screens */
    }
  
    .feedback,
    .child-report {
      width: calc(90% - 20px); /* Adjust width for smaller screens */
    }
  
    .repoimg,
    .feedimg {
      width: 50%;
      margin: 0 auto; /* Center the images horizontally */
    }
  
    .custom-buttonw {
      margin: 10px 50px; /* Center the button horizontally */
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 982px){
  .page12 {
    padding: 25px; /* Decrease padding for smaller screens */
  }

  .feedback,
  .child-report {
    width: calc(90% - 20px); /* Adjust width for smaller screens */
  }

  .repoimg,
  .feedimg {
    width: 20%;
    margin: 0 auto; /* Center the images horizontally */
  }

  .custom-buttonw {
    margin: 2px 19rem; /* Center the button horizontally */
  }

}
