/* play.css */

/* General styling */
.container53 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.rower {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.columner {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
}

.card1er {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card1er img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card1er h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.card1er img.suu {
  max-width: 29rem;
  height: 15rem;
  margin-bottom: 10px;
}

.card1er p {
  font-size: 16px;
  line-height: 1.5;
}

.card1er button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card1er button:hover {
  background-color: #45a049;
}

/* Media Queries */
@media screen and (max-width: 786px) {
  .columner {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 376px) and (max-width: 982px) {
  .container53 {
    margin-left: 6.5rem;
    max-width:100%;
    /* margin: 0 auto;
    padding: 20px; */
  }
  .card1er {
   width: 20rem;
    padding: 10px;
  }
 
 
  
  .card1er img.suu {
    max-width: 19rem;
    height: 10rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container53 {
    max-width:100%;
    /* margin: 0 auto;
    padding: 20px; */
  }
  .card1er {
   width: 20rem;
    padding: 10px;
  }
 
 
  
  .card1er img.suu {
    max-width: 19rem;
    height: 10rem;
    margin-bottom: 10px;
  }
  

  
}
