.insight-component {
  margin: 20px;
}

h2 {
  text-align: center;
}

/* Adjust grid layout for responsiveness */
.grid-cont {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Dynamic grid layout based on available space */
  grid-gap: 20px;
}

/* Adjust grid item styles for responsiveness */
.grid-item-insight {
  padding: 20px;
  margin-left: 103px;
  width: 100%; /* Adjust width to fit grid cont */
  max-width: 500px; /* Limit max width for larger screens */
  font-size: 20px;
  margin-top: 20px;
}

.item-insight {
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(213, 156, 156, 0.2);
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* Adjust image size and styles for responsiveness */
.grid-item-insight img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(6, 0, 6);
  padding: 10px;
  box-shadow: 2px 0px 4px 3px;
  transition: transform 0.3s ease-in-out;
}

.grid-item-insight img:hover {
  transform: scale(1.1); /* You can adjust the scale factor for the desired effect */
}

.grid-item-insight p {
  margin-top: 10px;
}

/* Media query for responsiveness */
@media screen  and (min-width: 376px)and (max-width: 982px) {
  .grid-item-insight {
    margin-left: auto; /* Center align grid items */
    margin-right: auto; /* Center align grid items */
  }

  .grid-item-insight,
  .itemes {
    width: calc(100% - 40px); 
  }
}

@media screen  and (max-width: 375px){
  .grid-cont {
    grid-template-columns: repeat(2, 1fr); /* Dynamic grid layout based on available space */
    grid-gap: 0px;
  }
  
  /* Adjust grid item styles for responsiveness */
  .grid-item-insight {
    padding: 10px;
    margin-left: 0px;
    /* width: 10rem;  */
    width: 10rem;
    height: 10vh; 
    
  }
  .item-insight p{
    font-size: 12px;
    text-align:left;
  }
  .item-insight h3{
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
  }
  
  .item-insight {
   width: 9rem;
   height: 15rem;
    padding: 9px;
    /* margin-top: 10px; */
 
  }
  
  

}
