/* aboutus.css */

/* General styling */
.about {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  border: 1px solid #857f7f;
  border-radius: 5px;
  background-color: #fbffc6;
}



/* Email section */
.ee {
  margin-top: 20px;
  text-align: center;
}

.ee p {
  margin-bottom: 5px;
}

.ee a {
  color: #333;
}

/* Team Story section */
.team-story {
  margin-top: 40px;
}

/* Responsive styling */
@media screen and (max-width: 375px) {
  .about {
    margin: 8px 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
    padding: 10px;
  }

  .ee {
    margin-top: 10px;
  }

  .team-story {
    margin-top: 30px;
  }
}
