/* conduct.css */

/* Center the accordion */
#accordionFlushExample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px; /* Adjust as needed */
  }
  
  /* Style accordion items */
  .accordion-item {
    width: 80%; /* Adjust width as needed */
    margin-bottom: 10px;
  }
  
  /* Style accordion button */
  .accordion-button {
    background-color: #fff; /* Set initial background color */
    color: #000; /* Set initial text color */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  /* Hover effect */
  .accordion-button:hover {
    background-color: lightyellow; /* Change background color on hover */
  }
  