/* .accordion {
    width: 100%;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    cursor: pointer;
}

.accordion-header h2 {
    margin: 0;
}

.accordion-collapse {
    display: none;
    background-color: #fff;
}

.accordion-body {
    padding: 10px 20px;
}

.show {
    display: block;
} */
