.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap if they don't fit */
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer-center {
    text-align: center;
    flex-basis: 100%; /* Make this div take up full width */
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: aliceblue;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(251, 242, 242);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .footer-subtext {
    display: flex;
    justify-content: space-around; /* Center items with space in between */
  }
  
  .footer-left-small,
  .footer-right-small {
    flex-basis: 50%; /* Make small footer sections take up half width */
    text-align: center;
    margin-top: 10px;
  }