.page {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    align-items: center;
    row-gap: 50px;
    position: relative; /* Position relative to make absolute positioning work */
    
}
.law{
  background-color: rgb(165, 165, 222);
  height: 678px;
}
.sub-circles {
  width: 200px;
  cursor:pointer;
  height: 200px;
  /* background-color: rgb(53, 165, 107); */
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: black 2px 0px 10px 0px;
  padding: 31px;
  animation: moveSubCircles 2s ease forwards;
}
@keyframes moveSubCircles {
  from {
    transform: translateY(-200px); /* Start position */
    opacity: 0; /* Start opacity */
  }
  to {
    transform: translateY(0); /* End position */
    opacity: 1; /* End opacity */
  }
}


.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: black;
  text-align: center;
  font-size: 29px;
  font-family: sans-serif;
  text-shadow: grey 0px 7px 5px;
}


.top {
  margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    position: relative;
    left: 273px;
}
.bottom
{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    position: relative;
    left: 273px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatToCenter {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.lhead {
  animation: fadeIn 2s ease forwards, floatToCenter 2s ease forwards, pulse 2s ease-in-out infinite;
  transform-origin: center;
  animation-fill-mode: forwards;
  color: #4CAF50; /* Green */
  font: bold;
  text-shadow:black 2px 0px 2px ;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.first{
  font-size: 30px;
  color: blueviolet;
  text-shadow:black 2px 0px 2px ;
}
.sec{
  font-size: 35px;
  color: aqua;
  text-shadow:black 2px 0px 2px ;
}
.third{
  font-size: 45px;
  color: coral;
  text-shadow:black 2px 0px 2px ;
}
@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0%);
      opacity: 1;
  }
}

.first,
.sec,
.third {
  font: bold;
  display: inline-block;
  animation: slideIn 2s ease forwards;
}
