.page-law {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 50px;
  right: 170px;
  position: relative; 
}

.law-main {
  background-color: rgb(218, 216, 228);
  height: 678px;
}

.sub-circles-law {
  width: 250px;
  cursor: pointer;
  height: 250px;
  border-radius: 10%;
  border: 1px solid white;
  box-shadow: black 2px 0px 10px 0px;
  padding: 20px;
  animation: moveSubCircles 2s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-circles-law p {
  text-align: center;
  color: rgb(17, 12, 1);
  font-size: 15px;
}

.sub-circles-law img {
  height: 50px;
  width: 50px;
}

.sub-circles-law button {
  position: relative;
  top: 10px;
  color: black;
  border-radius: 10px;
  border: 1px solid darkgreen;
  background-color: rgb(78, 255, 47);
  box-shadow: black 2px 0px 3px 0px;
}

.Title-law {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: black;
  text-decoration: none;
  text-align: center;
  position: relative;
  font: bold;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: grey 0px 7px 5px;
}

.top-law {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  position: relative;
  left: 273px;
}

.bottom-law {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  position: relative;
  left: 273px;
}

@keyframes floatToCenter {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
} 

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} 

.lhead-law {
  color: #4CAF50; 
  font: bold;
  text-shadow: black 2px 0px 2px ;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.first-tt {
  font-size: 30px;
  color: lightcoral;
  text-shadow: black 2px 0px 2px ;
}

.sec-tt {
  font-size: 35px;
  color: peru;
}

.third-tt {
  font-size: 45px;
  color: green;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.first-tt,
.sec-tt,
.third-tt {
  font: bold;
  display: inline-block;
  animation: slideIn 2s ease forwards;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .page-law {
    flex-direction: column;
    align-items: center;
    right: auto;
}
.law-main {
  height: 2420px;
}
.top-law, .bottom-law {
  flex-direction: column;
  align-items: center;
  row-gap: 26px;
  left: auto;
}

}

@media screen  and (min-width: 375px)and (max-width: 982px) {
  .page-law {
    flex-direction: column;
    align-items: center;
    right: auto;
}
.law-main {
  height: 2420px;
}
.top-law, .bottom-law {
  flex-direction: column;
  align-items: center;
  row-gap: 26px;
  left: auto;
}

}