

.result-flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    gap: 1em;
    background: linear-gradient(180deg, #b6e390, rgb(244, 166, 244), rgb(238, 137, 238));
    position: relative;
    top: 10px;
    left: 200px;
    width: 1000px;
    height: 500px;
}

.container-result .flex-result{
    display: flex;
    justify-content:space-between;
    padding: 5px;
    background-color: white;
    
}
.title-result{
    color: black;
    font-size: 50px;
    text-align: center;
    border: 1px solid black;
}
.container-result .start-btn2 {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    text-decoration: none;
  }
  .btn-restart{
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
.container-result .flex-result span {
    font-size: 1.4em;
    color:black;
    
}

.container-result .flex-result span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
    
}

.table-main-result {
    width: 80%;
    position: relative;
    left: 145px;
    top: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.table-header50 {
    border: 1px solid black;
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body50 {
    border: 1px solid black;
    font-size: 1.1em;
    text-align: center;
    
    background: white;
    padding: 18px 0;
}

.table-header50 > tr > td{
    border: 1px solid black;
     
}

@media screen and (max-width: 375px){
    .table-body50 {
        border: 1px solid black;
        font-size: 0.8rem;
        text-align: center;
        background: white;
        padding: 18px 0;
    }
    .table-main-result {
        width: 80%;
        position: relative;
        left: 41px;
        top: 11px;
        border: 1px solid black;
        border-collapse: collapse;
        margin-bottom: -14px;
    }
    .container-result .flex-result span {
        font-size: 0.8rem;
        color: black;
    }
    .title-result {
        color: black;
        top: 13px;
        position: relative;
        font-size: 26px;
        text-align: center;
        border: 1px solid black;
    }
    .result-flex-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        padding: 20px;
        gap: 1em;
        background: linear-gradient(180deg, #b6e390, rgb(244, 166, 244), rgb(238, 137, 238));
        position: relative;
        top: 12px;
        left: 15px;
        width: 91%;
        height: 327px;
    }
    
    
}