.basicInfo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .rower-BI {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .card1er-BI {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #e0dddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: calc(35% - 10px); /* Two columns with 10px margin between */
    margin-right: 30px; /* Add margin between the cards */
  }

  .card1er-BI h3{
    font-size: 23px;
    text-align: center;
  }
  
  .card1er-BI:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card1er-BI h3 {
    margin-top: 0;
  }
  
  
  .card1er-BI img {
    width: 100%; /* Ensure image takes full width of card */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .card1er-BI button {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card1er-BI button:hover {
    background-color: #0056b3;
  }

  .card1er-BI button > a {
    color: inherit; /* Inherit the color from the button */
    text-decoration: none; /* Remove underline */
  }
  
  /* Media query for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .rower-BI {
      width: 100%;
      flex-direction: column; /* Stack cards vertically on smaller screens */
      align-items: center; /* Center-align cards */
    }
  
    .card1er-BI {
      width: 80%; /* Make cards take up full width on smaller screens */
      margin-bottom: 20px; /* Increase space between cards */
      margin-right: 0; /* Remove margin between cards */
    }
  }